@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

html {
  font-size: 20px;
}

body {
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5em;
  max-width: 48rem;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 2em auto;

  --background-color: #281e2a;
  --text-color: #ff5712;
  --accent-color: #d8e2e0;
  --hover-color: #9ecad0;

  background-color: var(--background-color);
  color: var(--text-color);
}

h1, h2 {
  color: var(--accent-color);
  font-family: "League Gothic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

h1 {
  font-size: 5rem;
  font-weight: 500;
  line-height: 1em;
  margin-bottom: 0;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 0;
}

p {
  color: var(--text-color);
  text-align: left;
  margin: 1em 0;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
  padding: 0;
  width: 100%;
}

hr {
  height: 1.5px;
  border: none;
  width: 100%;
  background-color: var(--text-color);
  margin: 2em 0 3em 0;
}

.quote {
  margin-left: 3em;
}

.header {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.center {
  max-width: 36rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 2em auto;
}

.evoke {
  font-size: 2.5rem;
  line-height: 1.25em;
  color: var(--accent-color);

  font-family: "League Gothic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;

  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

a:hover {
  color: var(--accent-color);
  text-decoration-color: var(--accent-color);
}

.page-link {
  background-color: var(--text-color);
  color: var(--background-color);
  padding: 0 0.2em;
  overflow-wrap: anywhere;
}

.page-link:hover {
  background-color: var(--hover-color);
  color: var(--background-color);
}

.footer {
  display: flex;
  margin: 0 0 2em 0;
  width: 100%;
}

.box {
  flex: 1;
  display: flex;
  justify-content: center;
}

.box:first-child {
  justify-content: flex-start;
}

.box:last-child {
  justify-content: flex-end;
}

.page-number {
  font-weight: 400;
  font-style: italic;
  color: var(--text-color);
}