body {
  --black: #000000;
  --dark-blue: #1d2438;
  --red: #d83030;
  --grey: #999f9d;
  --white: #ededed;
  --white-transparent: rgba(237, 237, 237, 0);

  background-color: var(--black);

  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.red {
  background-color: var(--red);
}

.black {
  background-color: var(--black);
}

.blue {
  background-color: var(--dark-blue);
}

.grey {
  background-color: var(--grey);
}

.white {
  background-color: var(--white);
}

.circle {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.b1-wrapper {
  width: fit-content;
  height: fit-content;
  transform: translate(-40px);
}

.b1 {
  width: 420px;
  height: 300px;
  position: relative;
  transition: all 1s ease-in-out;
}

.b1 > .upper-bowl {
  position: absolute;
  top: 0px;
  right: 50px;
  width: 220px;
  height: 100px;
  border-radius: 0px 120px 120px 0px;
  transition: all 1s ease-in-out;
}

.b1 > .lower-bowl {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 270px;
  height: 200px;
  border-radius: 0px 120px 120px 0px;
  transition: all 1s ease-in-out;
}

.b1 > .upper-bowl > .counter {
  position: absolute;
  top: 6px;
  right: 20px;
  width: 160px;
  height: 90px;
  border-radius: 0px 120px 120px 0px;
  transition: all 1s ease-in-out;
}

.b1 > .lower-bowl > .counter {
  position: absolute;
  bottom: 6px;
  right: 20px;
  width: 210px;
  height: 190px;
  border-radius: 0px 120px 120px 0px;
  transition: all 1s ease-in-out;
}

.b1 > .waist {
  position: absolute;
  top: 96px;
  right: 96px;
  width: 100px;
  height: 8px;
  transition: all 1s ease-in-out;
}

.b1 > .stem {
  position: absolute;
  top: 0px;
  left: 140px;
  width: 160px;
  height: 300px;
  border-radius: 0px 150px 150px 0px;
  transition: all 1s ease-in-out;
}

.b1 > .stem > .stem {
  position: absolute;
  top: 10px;
  left: 0px;
  width: 140px;
  height: 280px;
  border-radius: 0px 150px 150px 0px;
  transition: all 1s ease-in-out;
}

.b1 > .foreground {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 300px;
  width: 150px;
}

.b1 > .top-serif {
  position: absolute;
  top: 0px;
  left: 120px;
  width: 32px;
  height: 10px;
  transform: skewX(45deg);
  transition: all 1s ease-in-out;
}

.b1 > .bottom-serif {
  position: absolute;
  bottom: 0px;
  left: 120px;
  width: 32px;
  height: 10px;
  transform: skewX(-45deg);
  transition: all 1s ease-in-out;
}

.b1:hover {
  width: 820px;
}

.b1:hover > .upper-bowl {
  width: 620px;
}

.b1:hover > .upper-bowl > .counter {
  right: 120px;
  width: 400px;
}

.b1:hover > .lower-bowl {
  width: 670px;
}

.b1:hover > .lower-bowl > .counter {
  right: 120px;
  width: 540px;
}

.b1:hover > .stem {
  left: 80px;
  width: 360px;
}

.b1:hover > .stem > .stem {
  width: 220px;
}

.b1:hover > .top-serif {
  top: 0px;
  left: 70px;
}

.b1:hover > .bottom-serif {
  position: absolute;
  left: 70px;
}

.hover-circle-wrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  mix-blend-mode: difference;
}

.hover-circle {
  width: 0px;
  height: 0px;
  background-color: var(--red);
  pointer-events: none;
  border-radius: 50%;
}

.b1-wrapper:hover ~ .hover-circle-wrapper > .hover-circle {
  animation: expandCircle 1.5s linear forwards;
}

@keyframes expandCircle {
  0% {
    width: 0px;
    height: 0px;
    border-radius: 50%;
  }
  20% {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
  }
  75% {
    width: 100vw;
    height: 100vw;
    border-radius: 50%;
  }
  100% {
    width: 100%;
    height: 100%;
    border-radius: 0%;
  }
}

.gradient {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, var(--black) 20%, var(--dark-blue) 55%, var(--red) 75%, var(--grey) 90%, var(--white) 100%);
  mix-blend-mode: difference;
  opacity: 1;
  pointer-events: none;
  transition: all 1s ease-in-out;
}

.b1-wrapper:hover + .gradient {
  opacity: 0;
}