body {
  --black: #000000;
  --dark-blue: #1d2438;
  --red: #d83030;
  --grey: #999f9d;
  --white: #ededed;
  --white-transparent: rgba(237, 237, 237, 0);

  background-color: var(--black);
}

.red {
  background-color: var(--red);
}

.black {
  background-color: var(--black);
}

.blue {
  background-color: var(--dark-blue);
}

.grey {
  background-color: var(--grey);
}

.white {
  background-color: var(--white);
}

.circle {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.b1 {
  width: 420px;
  height: 300px;
  position: relative;
  transform: translate(-72px, 50px);
}

.b1 > .upper-bowl {
  position: absolute;
  top: 0px;
  right: 50px;
  width: 220px;
  height: 100px;
  border-radius: 0px 120px 120px 0px;
}

.b1 > .lower-bowl {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 270px;
  height: 200px;
  border-radius: 0px 120px 120px 0px;
}

.b1 > .upper-bowl > .counter:nth-child(1) {
  position: absolute;
  top: 6px;
  right: 20px;
  width: 160px;
  height: 90px;
  border-radius: 0px 120px 120px 0px;
}

.b1 > .lower-bowl > .counter:nth-child(1) {
  position: absolute;
  bottom: 6px;
  right: 20px;
  width: 210px;
  height: 190px;
  border-radius: 0px 120px 120px 0px;
}

.b1 > .waist {
  position: absolute;
  top: 96px;
  right: 96px;
  width: 100px;
  height: 8px;
}

.b1 > .stem {
  position: absolute;
  top: 0px;
  left: 140px;
  width: 160px;
  height: 300px;
  border-radius: 0px 150px 150px 0px;
}

.b1 > .stem > .stem {
  position: absolute;
  top: 10px;
  left: 0px;
  width: 140px;
  height: 280px;
  border-radius: 0px 150px 150px 0px;
}

.b1 > .foreground {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 300px;
  width: 150px;
}

.b1 > .top-serif {
  position: absolute;
  top: 0px;
  right: 260px;
  width: 32px;
  height: 10px;
  transform: skewX(45deg);
}

.b1 > .bottom-serif {
  position: absolute;
  bottom: 0px;
  right: 260px;
  width: 32px;
  height: 10px;
  transform: skewX(-45deg);
}

.b2 {
  width: 360px;
  height: 260px;
  transform: translate(50px, 96px);
}

.b2 > .upper-bowl {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 130px;
  height: 130px;
}


.b2 > .lower-bowl {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 130px;
  height: 130px;
}

.b2 > .stem {
  position: absolute;
  top: 0px;
  left: 32px;
  width: 266px;
  height: 260px;
}

.b2 > .counter:nth-child(4) {
  position: absolute;
  top: 32px;
  left: 74px;
  width: 238px;
  height: 72px;
}

.b2 > .counter:nth-child(5) {
  position: absolute;
  bottom: 32px;
  left: 74px;
  width: 238px;
  height: 72px;
}

.b2 > .counter:nth-child(6) {
  position: absolute;
  top: 104px;
  left: 77px;
  width: 231px;
  height: 8px;
  transform: skewX(-45deg);
}

.b2 > .counter:nth-child(7) {
  position: absolute;
  top: 24px;
  left: 77px;
  width: 231px;
  height: 8px;
  transform: skewX(45deg);
}

.b2 > .counter:nth-child(8) {
  position: absolute;
  bottom: 104px;
  left: 77px;
  width: 231px;
  height: 8px;
  transform: skewX(45deg);
}

.b2 > .counter:nth-child(9) {
  position: absolute;
  bottom: 24px;
  left: 77px;
  width: 231px;
  height: 8px;
  transform: skewX(-45deg);
}

.b2 > .counter:nth-child(10) {
  position: absolute;
  top: 24px;
  left: 72px;
  width: 16px;
  height: 88px;
}

.b2 > .counter:nth-child(11) {
  position: absolute;
  bottom: 24px;
  left: 72px;
  width: 16px;
  height: 88px;
}

.b2 > .top-serif.white {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 32px;
  height: 48px;
}

.b2 > .top-serif.black {
  position: absolute;
  top: 18px;
  left: -32px;
  width: 64px;
  height: 64px;
}

.b2 > .bottom-serif.white {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 32px;
  height: 48px;
}

.b2 > .bottom-serif.black {
  position: absolute;
  bottom: 18px;
  left: -32px;
  width: 64px;
  height: 64px;
}

.b3-wrapper {
  position: absolute;
  width: 160px;
  height: 610px;
  top: 56px;
  left: 480px;
}

.b3 {
  position: relative;
  width: 100%;
  height: 100%;
}

.b3 > .stem {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 32px;
  height: 100%;
  box-shadow: 8px 0px 8px var(--black);
}

.b3 > .crossbars {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.b3 > .crossbars > .crossbar {
  height: 32px;
  width: 100px;
}

.b3 > .diagonal:nth-child(3) {
  position: absolute;
  top: 0px;
  right: 29px;
  width: 32px;
  height: 100px;
  transform: skewX(30deg);
}

.b3 > .diagonal:nth-child(4) {
  position: absolute;
  top: 220px;
  right: 29px;
  width: 32px;
  height: 100px;
  transform: skewX(-30deg);
}

.b3 > .diagonal:nth-child(5) {
  position: absolute;
  bottom: 220px;
  right: 29px;
  width: 32px;
  height: 100px;
  transform: skewX(30deg);
}

.b3 > .diagonal:nth-child(6) {
  position: absolute;
  bottom: 0px;
  right: 29px;
  width: 32px;
  height: 100px;
  transform: skewX(-30deg);
}

.b3 > .upper-bowl {
  position: absolute;
  top: 100px;
  right: 0px;
  width: 32px;
  height: 120px;
}

.b3 > .lower-bowl {
  position: absolute;
  bottom: 100px;
  right: 0px;
  width: 32px;
  height: 120px;
}

.b4-wrapper {
  position: absolute;
  top: 256px;
  left: 680px;
  width: 240px;
  height: 410px;
  transform: scaleX(0.8);
}

.b4 {
  position: relative;
  width: 100%;
  height: 100%;
}

.b4 > .upper-bowl {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 200px;
  height: 190px;
  border-radius: 0px 48px 0px 0px;
}

.b4 > .corner:nth-child(2) {
  position: absolute;
  top: 144px;
  right: -24px;
  width: 48px;
  height: 48px;
  transform:skewX(-45deg);
}

.b4 > .lower-bowl {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 200px;
  height: 230px;
  border-radius: 0px 48px 0px 0px;
}

.b4 > .corner:nth-child(4) {
  position: absolute;
  bottom: 0px;
  right: -24px;
  width: 48px;
  height: 48px;
  transform:skewX(-45deg);
}

.b4 > .upper-bowl > .counter {
  position: absolute;
  top: 48px;
  left: 56px;
  width: 90px;
  height: 130px;
  border-radius: 0px 20px 20px 0px;
}

.b4 > .lower-bowl > .counter {
  position: absolute;
  top: 32px;
  left: 56px;
  width: 90px;
  height: 150px;
  border-radius: 0px 20px 20px 0px;
}

.b4 > .corner:nth-child(5) {
  position: absolute;
  top: 0px;
  left: 72px;
  width: 48px;
  height: 48px;
  transform: skewX(-45deg);
}

.b4 > .cover {
  position: absolute;
  top: 0px;
  left: 48px;
  width: 48px;
  height: 48px;
}

.b4 > .top-serif {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 48px;
  height: 48px;
}

.b4 > .bottom-serif {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 48px;
  height: 48px;
}

.b4 > .vertical-line {
  position: absolute;
  bottom: 0px;
  left: 110px;
  height: 90%;
  width: 4px;
}

.b5-wrapper {
  position: absolute;
  top: 56px;
  left: 960px;
  width: 200px;
  height: 260px;
}

.b5 {
  position: relative;
  height: 100%;
  width: 100%;
}

.b5 > .lines {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.b5 > .lines > .line {
  height: 4px;
  width: 100%;
}

.b5 > .counter:nth-child(2) {
  position: absolute;
  top: 32px;
  left: 45px;
  width: 110px;
  height: 72px;
}

.b5 > .counter:nth-child(3) {
  position: absolute;
  bottom: 32px;
  left: 45px;
  width: 110px;
  height: 80px;
}

.b5 > .lines > .line:first-child {
  width: 80%;
}

.b5 > .lines > .line:nth-child(2) {
  width: 90%;
}

.b5 > .lines > .line:nth-child(19) {
  width: 90%;
}

.b5 > .lines > .line:last-child {
  width: 80%;
}

.b5 > .lines > .line:nth-child(9) {
  width: 90%;
}

.b5 > .lines > .line:nth-child(10) {
  width: 80%;
}

.b5 > .lines > .line:nth-child(11) {
  width: 90%;
}

.b5 > .lines > .shadow {
  background: linear-gradient(to right, var(--white) 50%, var(--white-transparent) 70%, var(--white) 99%);
}

.b6-wrapper {
  position: absolute;
  top: 290px;
  left: 1120px;
  width: 340px;
  height: 380px;
  transform: skewX(-16deg);
}

.b6 {
  position: relative;
  height: 100%;
  width: 100%;
}

.b6 > .upper-bowl {
  position: absolute;
  top: 0px;
  left: 100px;
  width: 200px;
  height: 160px;
  border-radius: 0px 120px 120px 0px;
}

.b6 > .lower-bowl {
  position: absolute;
  bottom: 0px;
  left: 100px;
  width: 240px;
  height: 220px;
  border-radius: 0px 120px 120px 0px;
}

.b6 > .upper-bowl > .counter {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 160px;
  height: 130px;
  border-radius: 0px 120px 120px 0px;
} 

.b6 > .lower-bowl > .counter {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 200px;
  height: 190px;
  border-radius: 0px 120px 120px 0px;
}

.b6 > .upper-swash {
  position: absolute;
  top: 0px;
  left: 40px;
  width: 80px;
  height: 72px;
  border-radius: 64px 16px 0px 64px;
}

.b6 > .upper-swash > .inner:nth-child(1) {
  position: absolute;
  top: 20px;
  left: 12px;
  width: 48px;
  height: 42px;
  border-radius: 64px 16px 0px 64px;
}

.b6 > .upper-swash > .inner:nth-child(2) {
  position: absolute;
  top: 32px;
  right: 20px;
  width: 24px;
  height: 48px;
}

.b6 > .lower-swash {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 120px;
  height: 120px;
  border-radius: 120px 0px 24px 120px;
}

.b6 > .lower-swash > .inner:nth-child(1) {
  position: absolute;
  bottom: 20px;
  left: 16px;
  width: 84px;
  height: 86px;
  border-radius: 64px 0px 24px 64px;
}

.b6 > .lower-swash > .inner:nth-child(2) {
  position: absolute;
  bottom: 38px;
  right: 20px;
  width: 24px;
  height: 110px;
}

.gradient {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, var(--black) 20%, var(--dark-blue) 55%, var(--red) 75%, var(--grey) 90%, var(--white) 100%);
  mix-blend-mode: difference;
  opacity: 1;
}